html {
  font-family: Helvetica;
  font-size: 18px;
  color: #ddd;
  background-color: #000;
}

.container {
  background-color: #575656bb;
  position: relative;
  margin: 50px ;
  padding: 20px 50px;
}

.bold {
  font-weight: bold;
}

.header {
  text-align: center;
}
.main_title {
  font-family: "Iron Maiden", sans-serif;
  color: red;
  text-align: center;
  font-size: 72px;
  background-color: #0a0969;
  border: #ddd 1px solid;
}

.main_paragraph {
  font-style: italic;
}

.featured-image {
  text-align: center;
  margin-top: 30px;
  font-style: italic;
}

.featured-image img{
  max-width: 100%;
}

.biography-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

.quotes-container {
  background-color: #ddd;
  color: black;
  padding: 30px;
}

.quotes-container blockquote {
  font-weight: bold;
  font-size: 17px;
}

.quotes-container p {
  font-style: italic;
  font-size: 15px;
}

.curiosities {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

.curiosities li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #ddd;
  font-style: italic;
  font-size: bold;
}

.img-bold {
  text-align: center;
  margin-top: 30px;
  font-style: italic;
  font-weight: bold;
}

.img-bold img{
  max-width:50% ;
}
